<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
  <p><%= "#{@pin.text}" %></p>

  <hr/>
  <figure>
  <img src="<%= @pin.image.url(:medium) %>">
    <br/>
    <figcaption><b>Visit <%= "#{@pin.title}" %> at: </b>
    <%= link_to "#{@pin.url}", "#{@pin.url}", html_options= {target: "_blank", class: "url"} %>
    <br/>
    <%= link_to 'repin_path(pin)', class: "btn btn-default", method: "post" do %>
    Repin!
    <% end %>
  </figcaption>
  </figure>
  <h3>Other Pinners who <i class="fa fa-heart"></i> this pin!</h3>
  <ul>
  <% @users.each do |x| %>
    <li><%= x.last_name %></li>
  <% end %>
</ul>
</div>

<br/>
<a href="/">
  <i class="fa fa-arrow-circle-left"></i>
  Back to Home
</a>
<br/> <br/>
<a href="/pins/new"
<i class="fa fa-plus-circle"></i>
Create Another Pin!
</a>
